lib-cov

tmp

# Optional npm cache directory
.npm

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.vscode

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.nyc_output
